.ant-modal-dark .ant-modal-content {
    background-color: #333 !important; 
    color: white !important;        
  }

.ant-modal-dark .ant-modal-title {
  background-color: #333 !important; 
    color: white !important; 
}