.container-signup{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-signup{
    height: 410px;
    width: 460px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.main-signup h3{
    margin-block-start: 0 !important;
    margin-block-end: 15px !important;
}

.main-signup h6 {
    margin-block-start: 0 !important;
    margin-top: 3px;
    font-weight: 400;
    color: black;
}

.signup-form-button {
    margin-top: 15px;
    margin-bottom: 12px;
    border-radius: 15px;
    width: 100%;
}

.ant-form-item-explain-error {
    margin-bottom: 5px !important;
    font-size: 8px !important;
}

.signup-input {
    height: 30px !important;
    font-size: 12px;
}

.password-requirements li {
    font-size: 9px;
    margin-left: -15px;
}

.title {
    align-self: flex-start !important;
    margin-left: 30px;
}

.image-container {
    margin-top: -80px;
}

